.dark-high-contrast {
    --md-sys-color-primary: rgb(232 241 255);
    --md-sys-color-surface-tint: rgb(159 202 252);
    --md-sys-color-on-primary: rgb(0 0 0);
    --md-sys-color-primary-container: rgb(155 198 248);
    --md-sys-color-on-primary-container: rgb(0 12 27);
    --md-sys-color-secondary: rgb(235 240 255);
    --md-sys-color-on-secondary: rgb(0 0 0);
    --md-sys-color-secondary-container: rgb(167 195 252);
    --md-sys-color-on-secondary-container: rgb(0 11 33);
    --md-sys-color-tertiary: rgb(225 242 255);
    --md-sys-color-on-tertiary: rgb(0 0 0);
    --md-sys-color-tertiary-container: rgb(139 202 239);
    --md-sys-color-on-tertiary-container: rgb(0 13 21);
    --md-sys-color-error: rgb(255 236 235);
    --md-sys-color-on-error: rgb(0 0 0);
    --md-sys-color-error-container: rgb(255 173 172);
    --md-sys-color-on-error-container: rgb(34 0 2);
    --md-sys-color-background: rgb(16 20 24);
    --md-sys-color-on-background: rgb(225 226 232);
    --md-sys-color-surface: rgb(14 20 21);
    --md-sys-color-on-surface: rgb(255 255 255);
    --md-sys-color-surface-variant: rgb(67 71 78);
    --md-sys-color-on-surface-variant: rgb(255 255 255);
    --md-sys-color-outline: rgb(237 240 249);
    --md-sys-color-outline-variant: rgb(191 195 203);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(222 227 229);
    --md-sys-color-inverse-on-surface: rgb(0 0 0);
    --md-sys-color-inverse-primary: rgb(25 74 118);
    --md-sys-color-primary-fixed: rgb(209 228 255);
    --md-sys-color-on-primary-fixed: rgb(0 0 0);
    --md-sys-color-primary-fixed-dim: rgb(159 202 252);
    --md-sys-color-on-primary-fixed-variant: rgb(0 18 36);
    --md-sys-color-secondary-fixed: rgb(215 226 255);
    --md-sys-color-on-secondary-fixed: rgb(0 0 0);
    --md-sys-color-secondary-fixed-dim: rgb(171 199 255);
    --md-sys-color-on-secondary-fixed-variant: rgb(0 16 44);
    --md-sys-color-tertiary-fixed: rgb(195 232 255);
    --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
    --md-sys-color-tertiary-fixed-dim: rgb(143 206 243);
    --md-sys-color-on-tertiary-fixed-variant: rgb(0 19 29);
    --md-sys-color-surface-dim: rgb(14 20 21);
    --md-sys-color-surface-bright: rgb(75 81 82);
    --md-sys-color-surface-container-lowest: rgb(0 0 0);
    --md-sys-color-surface-container-low: rgb(27 33 34);
    --md-sys-color-surface-container: rgb(43 49 51);
    --md-sys-color-surface-container-high: rgb(54 60 62);
    --md-sys-color-surface-container-highest: rgb(66 72 73);
    --md-extended-color-global-navigation-color: rgb(217 245 255);
    --md-extended-color-global-navigation-on-color: rgb(0 0 0);
    --md-extended-color-global-navigation-color-container: rgb(130 205 229);
    --md-extended-color-global-navigation-on-color-container: rgb(0 13 18);
    --md-extended-color-success-color: rgb(188 255 214);
    --md-extended-color-success-on-color: rgb(0 0 0);
    --md-extended-color-success-color-container: rgb(141 209 169);
    --md-extended-color-success-on-color-container: rgb(0 14 6);
    --md-extended-color-warning-color: rgb(255 238 213);
    --md-extended-color-warning-on-color: rgb(0 0 0);
    --md-extended-color-warning-color-container: rgb(232 188 105);
    --md-extended-color-warning-on-color-container: rgb(18 10 0);
    --md-extended-color-info-color: rgb(232 241 255);
    --md-extended-color-info-on-color: rgb(0 0 0);
    --md-extended-color-info-color-container: rgb(155 198 248);
    --md-extended-color-info-on-color-container: rgb(0 12 27);
}