.dark {
    --md-sys-color-primary: rgb(159 202 252);
    --md-sys-color-surface-tint: rgb(159 202 252);
    --md-sys-color-on-primary: rgb(0 50 87);
    --md-sys-color-primary-container: rgb(23 73 116);
    --md-sys-color-on-primary-container: rgb(209 228 255);
    --md-sys-color-secondary: rgb(171 199 255);
    --md-sys-color-on-secondary: rgb(12 48 95);
    --md-sys-color-secondary-container: rgb(41 70 119);
    --md-sys-color-on-secondary-container: rgb(215 226 255);
    --md-sys-color-tertiary: rgb(143 206 243);
    --md-sys-color-on-tertiary: rgb(0 53 73);
    --md-sys-color-tertiary-container: rgb(0 76 105);
    --md-sys-color-on-tertiary-container: rgb(195 232 255);
    --md-sys-color-error: rgb(255 179 178);
    --md-sys-color-on-error: rgb(86 29 31);
    --md-sys-color-error-container: rgb(115 51 52);
    --md-sys-color-on-error-container: rgb(255 218 216);
    --md-sys-color-background: rgb(16 20 24);
    --md-sys-color-on-background: rgb(225 226 232);
    --md-sys-color-surface: rgb(14 20 21);
    --md-sys-color-on-surface: rgb(222 227 229);
    --md-sys-color-surface-variant: rgb(67 71 78);
    --md-sys-color-on-surface-variant: rgb(195 198 207);
    --md-sys-color-outline: rgb(141 145 153);
    --md-sys-color-outline-variant: rgb(67 71 78);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(222 227 229);
    --md-sys-color-inverse-on-surface: rgb(43 49 51);
    --md-sys-color-inverse-primary: rgb(53 97 142);
    --md-sys-color-primary-fixed: rgb(209 228 255);
    --md-sys-color-on-primary-fixed: rgb(0 29 53);
    --md-sys-color-primary-fixed-dim: rgb(159 202 252);
    --md-sys-color-on-primary-fixed-variant: rgb(23 73 116);
    --md-sys-color-secondary-fixed: rgb(215 226 255);
    --md-sys-color-on-secondary-fixed: rgb(0 27 63);
    --md-sys-color-secondary-fixed-dim: rgb(171 199 255);
    --md-sys-color-on-secondary-fixed-variant: rgb(41 70 119);
    --md-sys-color-tertiary-fixed: rgb(195 232 255);
    --md-sys-color-on-tertiary-fixed: rgb(0 30 44);
    --md-sys-color-tertiary-fixed-dim: rgb(143 206 243);
    --md-sys-color-on-tertiary-fixed-variant: rgb(0 76 105);
    --md-sys-color-surface-dim: rgb(14 20 21);
    --md-sys-color-surface-bright: rgb(52 58 59);
    --md-sys-color-surface-container-lowest: rgb(9 15 16);
    --md-sys-color-surface-container-low: rgb(23 29 30);
    --md-sys-color-surface-container: rgb(27 33 34);
    --md-sys-color-surface-container-high: rgb(37 43 44);
    --md-sys-color-surface-container-highest: rgb(48 54 55);
    --md-extended-color-global-navigation-color: rgb(134 209 233);
    --md-extended-color-global-navigation-on-color: rgb(0 54 66);
    --md-extended-color-global-navigation-color-container: rgb(0 78 94);
    --md-extended-color-global-navigation-on-color-container: rgb(178 235 255);
    --md-extended-color-success-color: rgb(145 213 173);
    --md-extended-color-success-on-color: rgb(0 56 34);
    --md-extended-color-success-color-container: rgb(3 82 51);
    --md-extended-color-success-on-color-container: rgb(172 242 200);
    --md-extended-color-warning-color: rgb(237 192 108);
    --md-extended-color-warning-on-color: rgb(65 45 0);
    --md-extended-color-warning-color-container: rgb(93 66 0);
    --md-extended-color-warning-on-color-container: rgb(255 222 166);
    --md-extended-color-info-color: rgb(159 202 252);
    --md-extended-color-info-on-color: rgb(0 50 87);
    --md-extended-color-info-color-container: rgb(23 73 116);
    --md-extended-color-info-on-color-container: rgb(209 228 255);
}