.dark-medium-contrast {
    --md-sys-color-primary: rgb(198 222 255);
    --md-sys-color-surface-tint: rgb(159 202 252);
    --md-sys-color-on-primary: rgb(0 39 70);
    --md-sys-color-primary-container: rgb(105 148 195);
    --md-sys-color-on-primary-container: rgb(0 0 0);
    --md-sys-color-secondary: rgb(205 220 255);
    --md-sys-color-on-secondary: rgb(0 37 82);
    --md-sys-color-secondary-container: rgb(117 145 199);
    --md-sys-color-on-secondary-container: rgb(0 0 0);
    --md-sys-color-tertiary: rgb(181 226 255);
    --md-sys-color-on-tertiary: rgb(0 41 58);
    --md-sys-color-tertiary-container: rgb(88 152 187);
    --md-sys-color-on-tertiary-container: rgb(0 0 0);
    --md-sys-color-error: rgb(255 210 208);
    --md-sys-color-on-error: rgb(72 18 21);
    --md-sys-color-error-container: rgb(203 122 122);
    --md-sys-color-on-error-container: rgb(0 0 0);
    --md-sys-color-background: rgb(16 20 24);
    --md-sys-color-on-background: rgb(225 226 232);
    --md-sys-color-surface: rgb(14 20 21);
    --md-sys-color-on-surface: rgb(255 255 255);
    --md-sys-color-surface-variant: rgb(67 71 78);
    --md-sys-color-on-surface-variant: rgb(217 220 229);
    --md-sys-color-outline: rgb(174 178 186);
    --md-sys-color-outline-variant: rgb(140 144 152);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(222 227 229);
    --md-sys-color-inverse-on-surface: rgb(37 43 44);
    --md-sys-color-inverse-primary: rgb(25 74 118);
    --md-sys-color-primary-fixed: rgb(209 228 255);
    --md-sys-color-on-primary-fixed: rgb(0 18 36);
    --md-sys-color-primary-fixed-dim: rgb(159 202 252);
    --md-sys-color-on-primary-fixed-variant: rgb(0 56 97);
    --md-sys-color-secondary-fixed: rgb(215 226 255);
    --md-sys-color-on-secondary-fixed: rgb(0 16 44);
    --md-sys-color-secondary-fixed-dim: rgb(171 199 255);
    --md-sys-color-on-secondary-fixed-variant: rgb(21 53 102);
    --md-sys-color-tertiary-fixed: rgb(195 232 255);
    --md-sys-color-on-tertiary-fixed: rgb(0 19 29);
    --md-sys-color-tertiary-fixed-dim: rgb(143 206 243);
    --md-sys-color-on-tertiary-fixed-variant: rgb(0 59 81);
    --md-sys-color-surface-dim: rgb(14 20 21);
    --md-sys-color-surface-bright: rgb(63 70 71);
    --md-sys-color-surface-container-lowest: rgb(4 8 9);
    --md-sys-color-surface-container-low: rgb(25 31 32);
    --md-sys-color-surface-container: rgb(35 41 42);
    --md-sys-color-surface-container-high: rgb(45 52 53);
    --md-sys-color-surface-container-highest: rgb(57 63 64);
    --md-extended-color-global-navigation-color: rgb(158 231 255);
    --md-extended-color-global-navigation-on-color: rgb(0 42 52);
    --md-extended-color-global-navigation-color-container: rgb(78 155 177);
    --md-extended-color-global-navigation-on-color-container: rgb(0 0 0);
    --md-extended-color-success-color: rgb(166 235 194);
    --md-extended-color-success-on-color: rgb(0 44 25);
    --md-extended-color-success-color-container: rgb(92 158 121);
    --md-extended-color-success-on-color-container: rgb(0 0 0);
    --md-extended-color-warning-color: rgb(255 215 143);
    --md-extended-color-warning-on-color: rgb(51 35 0);
    --md-extended-color-warning-color-container: rgb(178 139 61);
    --md-extended-color-warning-on-color-container: rgb(0 0 0);
    --md-extended-color-info-color: rgb(198 222 255);
    --md-extended-color-info-on-color: rgb(0 39 70);
    --md-extended-color-info-color-container: rgb(105 148 195);
    --md-extended-color-info-on-color-container: rgb(0 0 0);
}