.light-medium-contrast {
    --md-sys-color-primary: rgb(0 56 97);
    --md-sys-color-surface-tint: rgb(53 97 142);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(68 112 157);
    --md-sys-color-on-primary-container: rgb(255 255 255);
    --md-sys-color-secondary: rgb(21 53 102);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(81 109 161);
    --md-sys-color-on-secondary-container: rgb(255 255 255);
    --md-sys-color-tertiary: rgb(0 59 81);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(48 116 149);
    --md-sys-color-on-tertiary-container: rgb(255 255 255);
    --md-sys-color-error: rgb(94 35 37);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(161 88 88);
    --md-sys-color-on-error-container: rgb(255 255 255);
    --md-sys-color-background: rgb(248 249 255);
    --md-sys-color-on-background: rgb(25 28 32);
    --md-sys-color-surface: rgb(245 250 251);
    --md-sys-color-on-surface: rgb(12 18 19);
    --md-sys-color-surface-variant: rgb(223 226 235);
    --md-sys-color-on-surface-variant: rgb(50 54 61);
    --md-sys-color-outline: rgb(78 83 90);
    --md-sys-color-outline-variant: rgb(105 109 117);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(43 49 51);
    --md-sys-color-inverse-on-surface: rgb(236 242 243);
    --md-sys-color-inverse-primary: rgb(159 202 252);
    --md-sys-color-primary-fixed: rgb(68 112 157);
    --md-sys-color-on-primary-fixed: rgb(255 255 255);
    --md-sys-color-primary-fixed-dim: rgb(42 87 131);
    --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
    --md-sys-color-secondary-fixed: rgb(81 109 161);
    --md-sys-color-on-secondary-fixed: rgb(255 255 255);
    --md-sys-color-secondary-fixed-dim: rgb(56 85 134);
    --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
    --md-sys-color-tertiary-fixed: rgb(48 116 149);
    --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
    --md-sys-color-tertiary-fixed-dim: rgb(8 91 123);
    --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
    --md-sys-color-surface-dim: rgb(194 199 201);
    --md-sys-color-surface-bright: rgb(245 250 251);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(239 245 246);
    --md-sys-color-surface-container: rgb(227 233 234);
    --md-sys-color-surface-container-high: rgb(216 222 223);
    --md-sys-color-surface-container-highest: rgb(205 211 212);
    --md-extended-color-global-navigation-color: rgb(0 60 73);
    --md-extended-color-global-navigation-on-color: rgb(255 255 255);
    --md-extended-color-global-navigation-color-container: rgb(33 118 140);
    --md-extended-color-global-navigation-on-color-container: rgb(255 255 255);
    --md-extended-color-success-color: rgb(0 63 38);
    --md-extended-color-success-on-color: rgb(255 255 255);
    --md-extended-color-success-color-container: rgb(55 121 87);
    --md-extended-color-success-on-color-container: rgb(255 255 255);
    --md-extended-color-warning-color: rgb(72 50 0);
    --md-extended-color-warning-on-color: rgb(255 255 255);
    --md-extended-color-warning-color-container: rgb(138 103 28);
    --md-extended-color-warning-on-color-container: rgb(255 255 255);
    --md-extended-color-info-color: rgb(0 56 97);
    --md-extended-color-info-on-color: rgb(255 255 255);
    --md-extended-color-info-color-container: rgb(68 112 157);
    --md-extended-color-info-on-color-container: rgb(255 255 255);
}