.light {
    --md-sys-color-primary: rgb(53 97 142);
    --md-sys-color-surface-tint: rgb(53 97 142);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(209 228 255);
    --md-sys-color-on-primary-container: rgb(23 73 116);
    --md-sys-color-secondary: rgb(66 94 145);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(215 226 255);
    --md-sys-color-on-secondary-container: rgb(41 70 119);
    --md-sys-color-tertiary: rgb(28 101 133);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(195 232 255);
    --md-sys-color-on-tertiary-container: rgb(0 76 105);
    --md-sys-color-error: rgb(144 74 74);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 216);
    --md-sys-color-on-error-container: rgb(115 51 52);
    --md-sys-color-background: rgb(248 249 255);
    --md-sys-color-on-background: rgb(25 28 32);
    --md-sys-color-surface: rgb(245 250 251);
    --md-sys-color-on-surface: rgb(23 29 30);
    --md-sys-color-surface-variant: rgb(223 226 235);
    --md-sys-color-on-surface-variant: rgb(67 71 78);
    --md-sys-color-outline: rgb(115 119 127);
    --md-sys-color-outline-variant: rgb(195 198 207);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(43 49 51);
    --md-sys-color-inverse-on-surface: rgb(236 242 243);
    --md-sys-color-inverse-primary: rgb(159 202 252);
    --md-sys-color-primary-fixed: rgb(209 228 255);
    --md-sys-color-on-primary-fixed: rgb(0 29 53);
    --md-sys-color-primary-fixed-dim: rgb(159 202 252);
    --md-sys-color-on-primary-fixed-variant: rgb(23 73 116);
    --md-sys-color-secondary-fixed: rgb(215 226 255);
    --md-sys-color-on-secondary-fixed: rgb(0 27 63);
    --md-sys-color-secondary-fixed-dim: rgb(171 199 255);
    --md-sys-color-on-secondary-fixed-variant: rgb(41 70 119);
    --md-sys-color-tertiary-fixed: rgb(195 232 255);
    --md-sys-color-on-tertiary-fixed: rgb(0 30 44);
    --md-sys-color-tertiary-fixed-dim: rgb(143 206 243);
    --md-sys-color-on-tertiary-fixed-variant: rgb(0 76 105);
    --md-sys-color-surface-dim: rgb(213 219 220);
    --md-sys-color-surface-bright: rgb(245 250 251);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(239 245 246);
    --md-sys-color-surface-container: rgb(233 239 240);
    --md-sys-color-surface-container-high: rgb(227 233 234);
    --md-sys-color-surface-container-highest: rgb(222 227 229);
    --md-extended-color-global-navigation-color: rgb(0 103 125);
    --md-extended-color-global-navigation-on-color: rgb(255 255 255);
    --md-extended-color-global-navigation-color-container: rgb(178 235 255);
    --md-extended-color-global-navigation-on-color-container: rgb(0 78 94);
    --md-extended-color-success-color: rgb(39 106 73);
    --md-extended-color-success-on-color: rgb(255 255 255);
    --md-extended-color-success-color-container: rgb(172 242 200);
    --md-extended-color-success-on-color-container: rgb(3 82 51);
    --md-extended-color-warning-color: rgb(122 89 12);
    --md-extended-color-warning-on-color: rgb(255 255 255);
    --md-extended-color-warning-color-container: rgb(255 222 166);
    --md-extended-color-warning-on-color-container: rgb(93 66 0);
    --md-extended-color-info-color: rgb(53 97 142);
    --md-extended-color-info-on-color: rgb(255 255 255);
    --md-extended-color-info-color-container: rgb(209 228 255);
    --md-extended-color-info-on-color-container: rgb(23 73 116);
}